html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */
html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
}
/*body {
  font-family: "Helvetica", sans-serif;
}*/
h1, h2, h3,h4,p{
  color: #4A4A4A;
}
a{
  text-decoration: none;
  color: #4A4A4A;
}

/*Header*/
.container{
  max-width: 1280px;
  margin: auto;
  /*border: 1px solid green;*/
}
.hcontent{
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  height: 64px;
}
.logo{
  display: flex;
  align-items: center;
  /*border: 1px solid black;*/
}
.logo img{
  padding-left: 24px;
  height: 4rem;
}
.color1{
  color: #4A4A4A;
  font-weight: bold;
}
.color2{
  color: #9B9B9B;
}
.navbar{
  /*border: 1px solid black;*/
  display: flex;
  align-items: center;
}
nav ul{
  display: inline-flex;
  align-items: center;
  padding-right: 24px;
  list-style: none;
}
nav ul li{
  padding: 0 16px;
}
@media only screen(max-width: 560px){
  .navbar{
    display: none;
  }

}
/*Banner*/
.content_grey{
  /*border: 1px solid black;*/
  background-color: #D8D8D8;
  display: flex;
  align-items: center;
}
.content_grey img{
  width: 60%;
  padding: 32px 24px;
  /*border: 1px solid yellow;*/
}
.learn{
  /*border: 1px solid orange;*/
  margin: 0 24px;
  width: 33%;
}
.button{
  display: flex;
  /*border: 1px solid black;*/
  background-color: #4A4A4A;
  justify-content: center;
}
.button a{
  color: white;
  margin: 8px 0;
}
.content_white{
  display: flex;
  align-items: center;
  background: white;
  /*border: 1px solid grey;*/
}
.practice{
  /*border: 1px solid green;*/
  width: 60%;
  padding: 32px 24px;
  border-right: 1px solid #e0e2e2;
}
.practice img{
  width: 100%;
}
.sidebar{
  border: 1px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.option{
  border: 1px solid cyan;
  display: flex;
  align-items: center;
  width: 100%;
  /*padding: inherit;*/
  padding: 16px;
}
.option img{
  width: 35%;
  /*margin: 16px;*/
}
.option .descrip{
  /*border: 1px solid orange;*/
  display: run-in;
  padding: 0 24px 0 16px;
}
.descrip a{
  color: #5e9ce2;
}
.option:hover{
  background-color: #e0e2e2;
}
.content_grey_1{
  background-color: #D8D8D8;
  display: run-in;
  padding: 16px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 1px solid green;*/
  margin-top: 0;
}
.degrees{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*margin: 0 32px;
  /*padding: 16px 0;
  /*margin: 32px 72px 32px 72px;*/
  /*border: 1px solid yellow;*/
}
.degree{
  /*border: 1px solid red;*/
  max-width: 30%;
  height: 370px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 16px 0;
  background-color: white;
  background-size: cover;
}
.degree img{
  max-width: 100%;
  max-height: auto;
}
.abstract{
  /*border: 1px solid cyan;*/
  margin-top: 0;
  padding: 0 16px;
}
.content_white_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  /*border: 1px solid grey;*/
  padding: inherit;
  margin-bottom: 0;
}
.practice_1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 24px;
}
.video{
  width:60%;
}
video{
  width:100%;
}
footer{
  border-top: 1px solid #e0e2e2;
  padding: 16px 24px;
}
